/**
Copyright 2012 Sliverware Applications, Inc

This file is part of the WordPress Gift Registry Plugin.

WordPress Gift Registry Plugin is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

WordPress Gift Registry Plugin is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with WordPress Gift Registry Plugin.  If not, see <http://www.gnu.org/licenses/>.
*/

.gr-grid {
    margin: 0 auto;
    display: table;
    clear: left;
}
.gr-grid .gr_item {
	margin: 0 10px 10px 0;
    float: left;
    border: 1px solid #EEE;
    font-size: 0.8em;
    padding: 8px;
    position: relative;
    width: 13.5em;
}
#gr_wish_list.gr-grid .gr_item h6 {
    margin: 0;
    height: 3em; /* make all heights equal to account for potential wrapping issues */
}
.gr_item li {
    list-style: none outside none;
    margin: 5px 0;
}
.gr_item ul {
    margin: 0;
    padding: 0;
}
.gr_item p {
	padding: 0;
	line-height: 16px;
    font-size: 0.8em;
}
.gr_item .gr_item_title {
	margin-top: 0;
	font-weight: bold;
}
.gr_item img {
	width: 100px;
}
.gr_item_img_wrap {
    margin-top: 1em;
    display: block;
    height: 7em;
    overflow: hidden;
    text-align: center;
}
.gr_item_details span {
	float: right;
}
.gr_item_descr {
    z-index: 2;
    display: none;
    position: absolute;
    top: 20%;
    left: 90%;
    padding: 10px;
    min-width: 10em;
    border: 1px solid #CCC;
    -moz-box-shadow: 0 2px 2px #666;
    -webkit-box-shadow: 0 2px 2px #666;

    background-color: #EEE;
    background-image: -moz-linear-gradient(top, #FAFAFA, #DDD);
    background-image: -webkit-linear-gradient(top, #FAFAFA, #DDD);
}
.gr-descr-hover {
    float: right;
    cursor: pointer;
}
.gr_received {
    font-size: 11px;
    color: #666;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
}
.gr_item_filled {
    clear: right;
}
.gr_item_details button {
    display: block;
	margin: 5px auto;
}
.gr_item .n {
	font-weight: bold;
}
.gr_item .y {
	font-weight: bold;
	color: green;
}
.gr_item .clear {
    clear: both;
}